<div class="customer">
	<h2>
		<% if display_link_to_show %>
          <%= link_to customer.full_name, customer %>
		<% else %>
          <%= customer.full_name %>
		<% end %>
	</h2>

    <p> Province:
      <% if customer.province.present? %>
        <%= customer.province.name %>
      <% else %>
        None
      <% end %>
    </p>

	<p>
	  <%= image_tag(customer.image) %>
	</p>


	<p>
	  <strong>Phone:</strong>
	  <%= customer.phone_number %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= customer.email %>
	</p>

	<p>
	  <strong>Notes:</strong>
	  <%= customer.notes %>
	</p>

	<p class="edit">
	  <%= link_to 'edit', edit_customer_path(customer) %>
	  <%= link_to 'x', customer, method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
</div>